.verification-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  align-content: center;
}

.verification-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.verification-header img {
  width: 100px; /* Adjust as needed */
}

.verification-header h1 {
  flex-grow: 1;
  text-align: center;
}

.verify-logout-button {
  background-color: #ff00005f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  /* width: 100%; */
  margin-top: 10px;
}

.verify-logout-button:hover {
  background-color: #ff0000;
}

.verification-main-content {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  margin: 0% auto;
}

.verification-main-content h2 {
  background-color: #eee;
  padding: 10px;
  margin-top: 0px;
}

.student-info {
  /* border: 1px solid #ccc; */
  padding: 20px;
}

.info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
}

.info-block label {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  background-color: #e0e0e0;
  padding: 10px;
  width: 70%;
}
  